{% extends "admin_perpus/base.html" %}
{% load crispy_forms_tags %}

{% block headCrud%}
    <h1 class="display-4">Journal List</h1>
    <p class="lead font-italic">Laman khusus Admin Perpustakaan Uhamka</p>
    <hr class="my-4">
{% endblock %}

{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>keyword</td>
            <td>judul</td>
            <td>penulis</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for jurnal in catalogList %}
            <tr>
                <td>{{katalog.issn}}</td>
                <td>{{katalog.judul}}</td>
                <td>{{katalog.penulis}}</td>
                <td>
                    <a href="{% url 'formCrudCatalogUpdate' formCrudCatalog.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}