{% extends "admin_perpus/base.html" %}
{% load crispy_forms_tags %}

{% block headCrud%}
    <h1 class="display-4">Jurnal</h1>
    <p class="lead font-italic">Laman khusus Admin Perpustakaan Uhamka</p>
    <p>nama mehtod {{namaMethod}}</p>
    <hr class="my-4">
{% endblock %}

{% block content %}

<!-- action = kalau submitnya diclick, datanya mau disimpen kemana?
     action -> - ngga diisi, maka datanya akan disimpan di url tersebut
     action -> kalau diisi, maka datanya akan disimpan di url tujuan -->
     
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}

    {{form.judul_artikel  | as_crispy_field}}

    {{form.judul_terbitan | as_crispy_field}}
   
    {{form.issn | as_crispy_field}}
   
    {{form.bahasa | as_crispy_field}}
    
    {{form.tempat_terbit | as_crispy_field}}
    
    {{form.tahun | as_crispy_field}}

    {{form.volume | as_crispy_field}}
    
    {{form.penerbit | as_crispy_field }}

    {{form.frekuensi_penerbitan | as_crispy_field}}

    {{form.penulis | as_crispy_field}}
    
    <!-- {{form.abstaksi }}
   
    {{form.kata_kunci }}
    
    {{form.lokasi }}
    
    {{form.terakreditasi }}
    
    {{form.slug }}
     -->
    <div style="display: flex; flex-direction: column;">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success" style="margin: 10px;"><i class="fas fa-database" ></i> Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'jurnalList' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
        <button type="" class="btn btn-success" >
            <a href="{% url 'admin_perpus:pilihanCrud' %}" style="color: white;">Kembali</a></button>
    </div>

</form>
{% endblock content %}